body{
					background-color:#ffBFC55;
					background-image:url(images/frameColor.gif);
					/*width:auto;
					height:100%
					min-height:300px;
					min-width:400px;*/
					}
			
				div.wrapper{
					width:1000px;
					height:900px;
					margin-left:auto;
					margin-right:auto;
					border:4px solid brown;
					}			
				div.banner{
					width:950px;
					height:90px;
					position:relative;
					top:5px;
					margin-left:auto;
					margin-right:auto;
					border:5px solid purple;
					}
				div.nav{
					background-color:orange;
					width:950px;
					height:30px
					position:centre;
					margin-left:auto;
					margin-right:auto;
					top:3px;
					border:2px solid white;
					background-image: -moz-linear-gradient(top, #787a80, #000000);
					background-image: -webkit-gradient(linear, center top, center bottom, from(#787a80), to(#000000));
					background-image: -o-linear-gradient(top, #787a80, #000000);
					}
										
				div.main{
					color:#008000;
					position:relative;
					width:100%;
					height:1000px
					margin-left:auto;
					margin-right:auto;
					border:1px solid black;
					background-color:white;
					}
				div.footer{
					background-color:#FFFF26;
					position:center;
					width:relative;
					height:30px;
					<!--margin-left:;
					margin-right:auto;-->
					bottom:3px;
					border:4px solid white;
					z-index:1;
					}
				p.welcome{
					margin:2px 2px 2px 2px;
					text-index:16px;
					font-style:italic;
					color:white;
					font-size:40px;
					background-color:brown;
					height:65px;
					}
				div.ban2
					{
					margin:10px 10px 10px 10px; <!-- change to 20 -->
					border:solid blue;
					text-index:16px;
					font-style:italic;
					height:70px;
					}
				a.navbuttons{
					text-align:center;
					height:30px;
					padding-left:14px;
					padding-right:14px;
					line-height:30px;
					margin:0px;
					display:inline-block;
					font-size:13px;
					color:blue;
					text-decoration:none;
					}
				
				a.navbuttons:hover{
					background-color:#3FD480;
					color:white;
					text-decoration;none;
					cursor:pointer;
					}
				body{
					background-color:#CCCCC0;
					background-image:url(image/darkTile.gif);
					background-repeat:no-repeat;
					}
				div.trim{
					background-color:#ffED80;
					width:relative;
					height:30px;
					position:relative;
					top:0px;
					font-size:20px;
					}
				.header{
					color:Browngreen; <!-- this font color for header-->
					position:absolute;
					top:3px;
					text-shadow:2px 2px 2px white;
					left:10px;
					}
				.center{
					text-align:left;
					}
				div.creativity{
					background-color:#F0F00F;
					width:300px;
					height:200px;
					position:left;
					top:0px;
					<!--font-size:20px;-->
					}
					
				div.window{
					width:950px;
					height:500px;
					position:relative;
					top:5px;
					margin-left:auto;
					margin-right:auto;
					border:5px solid purple;
					background-color:red;
					}	
						
				div.leftwindow{
					width:33%;
					height:90px;
					background-color:blue;
					float:left
					}
				div.midy{
					width:34.7%;
					height:200px;
					margin:2px;
					border:4px solid white;
					background-color:magenta;
					float:left;
					text-align:center;
					color:white;
					}
				
				div.rightwindow{
					width:31%;
					height:90px;
					background-color:orange;
					float:right;
					color:White;
					}